@model IEnumerable<SuperbrainManagement.Models.Branch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;
}

<div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
    <div class="mb-3 mb-sm-0">
        <h5 class="card-title fw-semibold">Quản lý cơ sở</h5>
    </div>
    <div>
        @Html.ActionLink("Create New", "Create","Branches", new { @class= "btn btn-success btn-sm" })
    </div>
</div>
<table class="table">
    <thead class="bg-success text-white">
        <tr>
            <th class="text-center">
                STT
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @stt
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if (item.Active == true)
            {
                <label class="custom-control ios-switch">
                    <input type="checkbox" class="ios-switch-control-input" checked="checked" disabled>
                    <span class="ios-switch-control-indicator"></span>
                </label>
            }
            else
            {
                <label class="custom-control ios-switch">
                    <input type="checkbox" class="ios-switch-control-input" disabled>
                    <span class="ios-switch-control-indicator"></span>
                </label>
            }
        </td>
    </tr>
    stt += 1;
}
</table>
